@media screen and (min-width: 1200px) {
  .container {
    max-width: 1190px;
  }

  .barbers,
  .gallery,
  .prices {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .barbers-item {
    width: calc((100% - 60px) / 3);
  }

  .gallery-item {
    width: calc((100% - 90px) / 4);
  }

  .prices-content {
    background-image: none;
    gap: 30px;
  }

  .prices-list {
    width: calc((100% - 30px) / 2);
    background-image: linear-gradient(
      180deg,
      #171a24 0%,
      rgba(23, 26, 36, 0.2) 100%
    );
  }
  .prices-list:last-child {
    padding-top: 30px;
  }
}
