:root {
  --main-title-color: #fff;
  --secondary-title-color: #303030;
  --accent-color: #ff6c00;
  --secondary-font: "Raleway", sans-serif;
  --basic-margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 160px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;
  transition: color 0.35s linear, background 0.35s linear;
}
.btn:is(:hover, :focus) {
  color: #fff;
  background-color: var(--accent-color);
}
.title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.33;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.subtitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
  margin-right: 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------- Header ---------------- */

.header {
  padding: 32px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 131px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-item {
}

.header-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  position: relative;
  transition: color 0.35s linear;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-link.active {
  color: var(--accent-color);
}
.header-link.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -10px;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: 43px;
}
.header-btn {
  min-width: 160px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;
}

/* ---------------- Hero ---------------- */

.hero {
}
.hero-container {
  display: flex;
}
.hero-list {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 30px;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  /* padding-top: 30px; */
  /* position: relative; */
  /* padding-left: 90px; */
}
.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  flex-shrink: 0;
  /* position: absolute;
  left: 0;
  bottom: 7px; */
}
.hero-list-wrap {
  display: flex;
  align-items: flex-end;
}
.hero-content {
  background-color: gray;
  padding: 272px 100px 208px;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 0.35s linear;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-subtitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--basic-margin);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--basic-margin);
}

/* .hero-title::before {
  content: "1.";
  font-size: 12px;
  color: red;
  display: block;
}

.hero-title::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ff6c00;
  display: block;
} */

.hero-description {
  width: 360px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ---------------- About ---------------- */

.about {
  padding: 120px 0;
}
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
  width: 50%;
}
.about-content {
  width: 50%;
  max-width: 470px;
}
.about-item {
  width: calc((100% - 30px) / 2);
}
.about-subtitle {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.about-title {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.about-description {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-description span {
  display: block;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: var(--basic-margin);
}
.about-btn {
  color: #303030;
}

/* ---------------- Prices ---------------- */

.prices {
  padding: 84px 0;
  background-image: url(../img/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #111319;
}
.prices-subtitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--basic-margin);
}
.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}
.prices-content {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 44px;
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.prices-list {
  padding: 30px 20px;
  flex-grow: 1;
  width: 100%;
}
.prices-list:last-child {
  padding-top: 0;
}
.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.prices-item::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);

  display: inline-block;
}
.prices-item:not(:last-child) {
  margin-bottom: var(--basic-margin);
}
.prices-item-text {
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-item-text:first-child {
  order: -1;
}
.prices-btn {
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

/* ---------------- Benefits ---------------- */

.benefits {
  padding: 120px 0;
}
.benefits-list {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  padding-left: 70px;
  padding-right: 70px;
}
.benefits-container {
  display: flex;
}
.benefits-item {
  width: 170px;
  height: 132px;
  padding: 20px 24px;
  background-color: #f7f7f7;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  position: relative;
}
.benefits-item > span::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: var(--accent-color);
  position: absolute;
  top: 7px;
  right: -10px;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.33;
  text-align: center;
  color: #303030;
}
.benefits-content {
  width: 55%;
  max-width: 500px;
}
.benefits-subtitle {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.benefits-title {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}

.benefits-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* ---------------- Barbers ---------------- */

.barbers {
  padding-top: 84px;
  padding-bottom: 84px;
}
.barbers-subtitle {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.barbers-title {
  color: var(--secondary-title-color);
  margin-bottom: 44px;
}
.barbers-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  row-gap: 50px;
  column-gap: 30px;
}
.barbers-item {
  width: 100%;
}

.barbers-content {
  padding: 30px;
}
.barbers-item-title {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-bottom: 8px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.barbers-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.barbers-social-item {
  width: 44px;
  height: 44px;
}
.barbers-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: gray;
  color: #000;
  transition: color 0.35s linear, background 0.35s linear;
}

.barbers-social-link:is(:hover, :focus) {
  background-color: orange;
  color: white;
}

.barbers-social-icon {
  fill: currentColor;
}
.barbers-top-wrap {
  position: relative;
  overflow: hidden;
}
.barbers-item-text-overlay {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.35s linear;
  overflow: auto;
}
.barbers-item:hover .barbers-item-text-overlay {
  transform: translateY(0);
}
/* .barbers-social-link:is(:hover, :focus) .barbers-social-icon {
  fill: white;
} */

/* .barbers-social-link:hover {
    background-color: orange;
  } */

/* .barbers-social-link:hover {
  background-color: orange;
}

.barbers-social-link:focus {
  background-color: orange;
} */

/* ---------------- Gallery ---------------- */

.gallery {
  padding: 84px 0;
}
.gallery-subtitle {
  color: var(--secondary-title-color);
  margin-bottom: 44px;
}
.visually-hidden {
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-item {
  width: 100%;
}

/* ---------------- Contact ---------------- */

.contact {
  background-color: #191c26;
  background-image: url(../img/contact-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% 100%;
  padding: 130px 0 120px;
}
.contact-container {
  display: flex;
}
.contact-form {
  width: 50%;
}
.contact-wrap {
  width: 50%;
  padding-left: 100px;
}
.contact-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}
.contact-address {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 70px;
}
.contact-list {
}
.contact-item {
  margin-bottom: var(--basic-margin);
}
.contact-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-subtitle {
  color: var(--main-title-color);
  margin-bottom: var(--basic-margin);
}
.contact-hours {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* -----------   FOOTER   ------------- */
.footer {
  padding: 56px 0 56px;
  background-color: #e5e5e5;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: #303030;
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-link::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.social-link:is(:hover, :focus) {
  color: var(--accent-color);
}
.social-link:hover::before {
  background-color: var(--accent-color);
}

/* .social-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
} */

.barbers-item:nth-child(2):hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.35s linear, visibility 0.35s linear;
}
.modal {
  width: 500px;
  min-height: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.35s linear;
}
.modal-close {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  display: block;
  margin-left: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  height: 45px;
  border: 1px solid #303030;
  border-radius: 4px;
  padding: 5px 10px;
  padding-left: 32px;
  outline: transparent;
}

.form-input::placeholder {
  /* color: red; */
}

.form-input:not(:focus):not(:placeholder-shown):valid {
  background-color: green;
}

.form-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: red;
}

.form-btn {
  color: #303030;
}
.form-label span {
  display: block;
  margin-bottom: 10px;
  color: #303030;
}

.form-control {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-input:focus {
  border-color: #ff6c00;
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-textarea {
  display: block;
  width: 100%;
  min-height: 80px;
  border: 1px solid #303030;
  border-radius: 4px;
  padding: 5px 10px;
  resize: vertical;
}

.form-label-checkbox {
  font-size: 14px;
  font-weight: 600;
  color: #303030;
  display: flex;
  align-items: center;
}

.form-label-checkbox::before {
  /* content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #303030;
  border-radius: 4px;
  margin-right: 8px; */
}

.form-checkbox:checked + .form-label-checkbox::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form-label-checkbox span {
  width: 16px;
  height: 16px;
  border: 2px solid #303030;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 0.35s, fill 0.35s;
}

.form-checkbox:checked + .form-label-checkbox span {
  fill: red;
  background-color: #000;
  border-color: #000;
}

.form-group-checkbox {
  margin-top: 40px;
  min-height: 22px;
}

.form-check-label {
  position: relative;
}

.form-check-label::before {
  content: "";
  display: block;
  width: 40px;
  height: 22px;
  border: 1px solid #999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.form-check-label::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.35s;
}

.form-checkbox:checked + .form-check-label::after {
  transform: translateX(18px);
}

.form-checkbox:focus + .form-check-label::before {
  outline: 1px solid var(--accent-color);
}

.form-checkbox:checked + .form-check-label::before {
  background-color: #999;
}

.input-text {
  width: 100%;
  height: 24px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 0;
  padding-bottom: 8px;
  transition: border 0.35s, color 0.35s;
}

.input-text::placeholder {
  color: rgba(157, 164, 189, 0.4);
}

.input-text:focus {
  border-bottom-color: #fff;
  outline: none;
}

.input-text:focus::placeholder {
  color: #fff;
}

.contact-form {
  padding-right: 30px;
}
.contact-form-textarea {
  min-height: 76px;
  resize: none;
}

.contact-form-inner {
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  width: 100%;
  margin-bottom: 44px;
}

.form-group:nth-child(1),
.form-group:nth-child(2) {
  width: 50%;
}
.form-group:nth-child(1) {
  padding-right: 15px;
}
.form-group:nth-child(2) {
  padding-left: 15px;
}

.contact-form-input:not(:focus):not(:placeholder-shown):valid {
  background-color: green;
}

.contact-form-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: red;
}
